.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;


    /* you can change your color */
    background-color: rgb(16, 239, 143);
}



nav{
    display: flex;
}

nav a{
    padding: 17px;
    text-decoration:none;
    color: rgb(5, 5, 6);
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



