<!--<ul>
    <li>
        <a href="#">DROPDROWN</a>
    </li>
    <li>
        <a href="#">HOME</a>
        
    </li>
    <li>
        <a href="#">ABOUT TEMPLE</a>
    </li>
    <li>
        <a href="#">POOJA</a>
    </li>
    <li>
        <a href="#">SEVA</a>
    </li>
    
    <li>
        <a href="#">DONATE</a>
    </li>
    <li>
        <a href="/admin">ADMIN SIGNUP/LOGIN</a>
    </li>
</ul>
<div class="container text-center">
    <img [src]="url" width="1530" height="700">
</div>-->

<div class="navbar">

    <!-- place you logo image  -->
    <img style="height:50px;;width:50px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEfJzrn7hRGvoZ6ZNB_p5oy9QwLpgZGl12hQ&usqp=CAU.jpg" alt="logo">
    <!--<nav>

       <div class="dropdown">
            <label>dropdown</label>
            <div class="drop">
                <a href="">TEMPLE PROFILE</a>
                <a href="">WORSHIP GOD</a>
                <a href="">asd</a>
            </div>
       </div>-->
<nav>
        <a href="home">HOME</a>
        <a href="abouttemple">ABOUT TEMPLE</a>
       <!--<a href="#">POOJA</a>
        <a href="#">SEVA</a>
        <a href="#">DONATE</a>-->
        <a href="contactus">CONTACT US</a>
        <a href="usersignup">USERSIGNUP</a>
        <a href="adminlogin">ADMIN LOGIN</a>
    </nav>
</div>

