<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>MARRIAGE  DETAILS</h1>
                </div>
            
                <form [formGroup]="formdata" (ngSubmit)="action(formdata.value)">
                   
                       
                       
                        <div class="form-group">
                            <label for="exampleInputPassword1">Bride Name</label><br>
                            <input type="text" class="form-control" name="bridename" formControlName="bridename" required>
                          </div><br/>
                          
                          <div class="form-group">
                            <label for="exampleInputPassword1">Groom name</label><br>
                            <input type="text" class="form-control" name="groomname" formControlName="groomname">
                          </div><br/>
                          <div class="form-group">
                            <label for="exampleInputPassword1">DATE</label><br>
                            <input type="date" class="form-control" name="date" formControlName="date">
                          </div><br/>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Mail</label><br>
                            <input type="text" class="form-control" name="mail" formControlName="mail">
                          </div><br/>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Phone</label><br>
                            <input type="text" class="form-control" name="phone" formControlName="phone">
                          </div><br/>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Additional information</label><br>
                            <input type="text" class="form-control" name="info" formControlName="info">
                          </div><br/>
                          
                          
                        <button type="submit" class="btn btn-primary">ADD</button>
                      
                        <button type="submit" class="btn btn-primary">EXIT</button>
                      </form>
                      
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <img src="../../assets/img/ma.jpg" width="1530" height="700">
</div>





</body>
</html>

