
<div class="navbar">

    <!-- place you logo image  -->
    <img style="height:50px;;width:50px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEfJzrn7hRGvoZ6ZNB_p5oy9QwLpgZGl12hQ&usqp=CAU.jpg" alt="logo">
    <nav>

       <!--<div class="dropdown">
            <label>dropdown</label>
            <div class="drop">
                <a href="templeprofile">TEMPLE PROFILE</a>
                <a href="worshipgod">WORSHIP GOD</a>
                <a href="incometype">INCOME TYPE</a>
                <a href="expensetype">EXPENSE TYPE</a>
                <a href="employeedetails">EMPLOYEE DETAILS</a>
                <a href="userdetails">USER DETAILS</a>
                <a href="festival">FESTIVAL</a>
                <a href="devotee">DEVOTEE DETAILS</a>
            </div>
       </div>-->


        <a href="home3">HOME</a>
    
       <a href="donation2">DONATION2</a>
        <a href="#">MARRIAGE REGISTRATION</a>
        
        <a href="pooja">POOJA</a>
        <a href="seva">SEVA</a>
        <a href="/login">LOGOUT</a>
    </nav>
</div>




