
<div class="navbar">

    <!-- place you logo image  -->
    <img style="height:50px;;width:50px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEfJzrn7hRGvoZ6ZNB_p5oy9QwLpgZGl12hQ&usqp=CAU.jpg" alt="logo">
    <nav>

       <!--<div class="dropdown">
            <label>dropdown</label>
            <div class="drop">
                <a href="templeprofile">TEMPLE PROFILE</a>
                <a href="worshipgod">WORSHIP GOD</a>
                <a href="incometype">INCOME TYPE</a>
                <a href="expensetype">EXPENSE TYPE</a>
                <a href="employeedetails">EMPLOYEE DETAILS</a>
                <a href="userdetails">USER DETAILS</a>
                <a href="festival">FESTIVAL</a>
                <a href="devotee">DEVOTEE DETAILS</a>
            </div>
       </div>-->


        <a href="home">HOME</a>
    
       <a href="poojadetails">poojadetails</a>
        <a href="donationdetails">donationdetails</a>
        
        <a href="sevadetails">sevadetails</a>
        <a href="darshandetails">darshandetails</a>
        <a href="marriagedetails">marriagedetails</a>
        
        <a href="/home">LOGOUT</a>
    </nav>
</div>
<div class="main">
    <div class="card1 card" >
        <h1>POOJA DETAILS</h1>
        <p>4</p>
    </div>

    <div class="card2 card">
        <h1>DONATIONDETAILS</h1>
        <p>9</p>
    </div>
    
    <div class="card3 card">
    <h1>SEVA DETAILS</h1>
    <p>6</p>
    </div>
    <div class="card4 card">
     <h1>DARSHANDETAILS</h1>
     <p>3</p>
    </div>
    <div class="card5 card">
      <h1>MARRIAGEDETAILS</h1>
      <p>2</p>
    </div>
    
</div>

