<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>ENTER EMPLOYEE DETAILS</h1>
                </div>
                <form>
                    <div class="dropdown">
                        <label>EMPLOYEE DETAILS</label>
                        <div class="drop">
                        <div class="form-group">
                            <select>
                          <option value="1">EMPLOYEE</option><br>
                          <option value="2">LABOUR</option><br>
                          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          </select>
                        </div><br/>
                        </div>

                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">EMPLOYEE NAME</label><br>
                          <input type="text" class="form-control" id="exampleInputPassword1">
                        </div><br/>
                        <div class="form-group">
                            <label for="exampleInputPassword1">EMPLOYEE DESIGNATION</label><br>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                          </div><br/>
                          <div class="form-group">
                            <label for="exampleInputPassword1">EMPLOYEE ADDRESS</label><br>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                          </div><br/>
                          <div class="form-group">
                            <label for="exampleInputPassword1">PHONE NO</label><br>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                          </div><br/>
                          <div class="form-check">
                            <label>EMPLOYEE GENDER</label><br/>
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              MALE
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              FEMALE
                            </label>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">EMPLOYEE DATE OF BIRTH</label><br>
                            <input type="date" class="form-control" id="exampleInputPassword1">
                          </div><br/>
                        
                        <button type="submit" class="btn btn-primary">SAVE</button>
                        <button type="submit" class="btn btn-primary">RESET</button>
                        <button type="submit" class="btn btn-primary">VIEW</button>
                        <button type="submit" class="btn btn-primary">EXIT</button>
                      </form>
                      
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
  <img [src]="url" width="1530" height="700">
</div>

