<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>ENTER INCOME DETAILS</h1>
                </div>
                <form>
                    <div class="dropdown">
                        <label>TYPE</label>
                        <div class="drop">
                        <div class="form-group">
                            <select>
                          <option value="1">anadana</option><br>
                          <option value="2">hundi</option><br>
                          <option value="2">devotee</option><br>
                          <option value="2">harike</option><br>
                          <option value="2">online donation</option><br>
                          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          </select>
                        </div><br/>
                        </div>

                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">SOURCE</label><br>
                          <input type="text" class="form-control" id="exampleInputPassword1">
                        </div><br/>
                        <div class="form-group">
                            <label for="exampleInputPassword1">AMOUNT</label><br>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                          </div><br/>
                          
                          <div class="form-group">
                            <label for="exampleInputPassword1">DATE</label><br>
                            <input type="date" class="form-control" id="exampleInputPassword1">
                          </div><br/>
                        
                        <button type="submit" class="btn btn-primary">ADD</button>
                      
                        <button type="submit" class="btn btn-primary">EXIT</button>
                      </form>
                      
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <img [src]="url" width="1530" height="700">
</div>



