<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>TEMPLE DEATAILS</h1>
                </div>
                <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">TEMPLE NAME</label><br>
                          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div><br/>
                        <div class="form-group">
                          <label for="exampleInputPassword1">ADDRESS</label><br>
                          <input type="text" class="form-control" id="exampleInputPassword1">
                        </div><br/>
                        <div class="form-group">
                            <label for="exampleInputPassword1">CONTACT NO</label><br>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                          </div><br/>
                          <div class="form-group">
                            <label for="exampleInputPassword1">WEBSITE</label><br>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                          </div><br/>
                          <div class="form-group">
                            <label for="exampleInputPassword1">EMAIL</label><br>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                          </div><br/>
                        
                        <button type="submit" class="btn btn-primary">SAVE</button>
                        <button type="submit" class="btn btn-primary">RESET</button>
                        <button type="submit" class="btn btn-primary">EXIT</button>
                      </form>
                      
            </div>
        </div>
    </div>
    <div class="container text-center">
    <img [src]="url" width="1530" height="700">
</div>