<app-header></app-header>
<!DOCTYPE html>
<html>
    <head>
        <title>Login form with Animated Background Gradient</title>
    </head>
    <body>
        <div class="shadow">
            <form class="box"> 
            <h1>LogIn ✓</h1>
            <input type="text" name="" placeholder="Username"><br>
            <input type="password" name="" placeholder="Password"> <br>
           <a href="nav3" input type="submit" name="" value="Login" >LOGIN</a>
            <br><br><br>
            
            </form>
            
        </div>
        
       
    </body>
</html>

    
  
  
  
  
